/* Container holding the image and the text */
.header-container {
    /* Background image */ 
    /* [4] package_details_header.jpg extracted from https://wallspic.com/tag/osaka/1366x768  */
    background: url("Images/package_details_header.jpeg");
    /* Background image */ 
    background-repeat: no-repeat;
    background-size: auto;
    width: 100vw; 
    height: 100vh; 
    background-size: cover; /* Cover all available space */

    /* Container generic css */
    padding: 0; /* No padding */
    margin: 0; /* No margins */
    position: relative;
    text-align: center;
    color: white;
    font-size: 20px;
}

/* /////////////////////////////////////// */
/* Main body containing iternary details   */
/* /////////////////////////////////////// */
.details_body{
    height: auto;
    overflow: auto;
    width: 100vw;
    background-color: rgb(138, 180, 243);
    color: white;
}

.details_body > p {
    font-size: 2.5em;
    font-family: 'GT3', sans-serif;
    margin-top: 80px;
    /* Center elements within row div */
    display: flex;
    justify-content: center;
    width: 100vw;
    clear: both;
}

/* /////////////////////////////////////// */
/* White region containing flight details */
/* /////////////////////////////////////// */
#flightDetails{
    width: 80vw;
    height: auto;
    overflow: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
/* //////////// */
/* Header for flight details */
/* //////////// */
#flightDetailsHeader{
    /* Center elements within row div */
    display: flex;
    justify-content: center;
}

#departingText, #airlineText, #fromText{
    color: gray;
    display: block;
    float: left;
    font-size: 2em;
    font-family: 'GT3', sans-serif;
    font-style: italic;
}

#departingText{
    margin: 30px 100px 30px 80px;
}

#airlineText{
    margin: 30px 100px 30px 150px;
}

#fromText{
    margin: 30px 100px 30px 150px;
}

/* //////////// */
/* CSS for actual flight details */
/* //////////// */

.flightEntryDate, .flightEntryImg, .flightEntryPrice{
    font-family: 'GT2', sans-serif;
    font-size: 1.6em;
    font-style: italic;
    display: block;
    float: left;
}

.flightEntryDate{
    clear: left;
    color: gray;
    margin: 50px 50px 50px 120px;
}

.flightEntryImg{
    margin: 20px 50px 50px 110px;
}

.flightEntryPrice{
    color: green;
    margin: 50px 50px 50px 190px;
}


/* ///////////////////////////////////////// */
/* White region containing itinerary details */
/* ///////////////////////////////////////// */
.itineraryEntry{
    width: 80vw;
    height: auto;
    overflow: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

/* ////////////// */
/* Day indicator  */
/* ////////////// */
.itineraryDayText{
    font-size: 2em;
    font-family: 'GT3', sans-serif;
    color: gray;
    text-align: center;
}

.itineraryEventEntry{
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    width: 60%;
    float: left;
    clear:left;
    color: black;
    font-family: 'GT2', sans-serif;
}

.itineraryEventImg{
    position: relative;
    width: 250px;
    height: 150px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 30px;
}